*.class
.git
.gradle
build
*.svn
*~
target
*.ipr
*.iml
*.iws
.settings
.project
.classpath
bin

/doc
*.xml
.idea/.name
lib/junit-4.7.jar
*.jar
src/main/.DS_Store
src/.DS_Store
src/main/java/.DS_Store
